<div class="card">

  <div class="card-body">
    <h5><i class="bi-gift"></i> {{product?.name}}</h5>

    <div class="row">
      <div class="col">
        <div class="img-thumbnail">
          <app-product-image [image]="image"></app-product-image>
        </div>
      </div>
      <div class="col">
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <div class="dim-text">Condition</div>
            <div>{{product?.condition}}</div>
          </div>
          <div class="list-group-item">
            <div class="dim-text">Category</div>
            <div>{{product?.category}}</div>
          </div>
          <div *ngFor="let item of info" class="list-group-item">
            <div class="dim-text">{{item[0]}}</div>
            <div>{{item[1]}}</div>
          </div>

          <div class="list-group-item">
            <div class="dim-text">Price</div>
            <div>{{product?.price | number}} MMK</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
