<!-- Title -->
<h3><i class="bi bi-pin-map"></i> State Details</h3>

<!-- State Information -->
<div class="mb-4">
  <app-state-info [data]="targetState" (onEdit)="edit($event)"></app-state-info>
</div>

<div class="nav nav-pills">
  <a [routerLink]="['district']" routerLinkActive="active" [queryParams]="{id: targetState.id}" class="nav-link">
    Districts
  </a>
  <a [routerLink]="['township']" routerLinkActive="active" [queryParams]="{id: targetState.id}" class="nav-link">
    Townships
  </a>
</div>

<div class="row mt-2">
  <!-- Districts of State -->
  <div class="col">
    <router-outlet></router-outlet>
  </div>

  <div class="col-3">
    <!-- Controls -->
    <div class="card">
      <div class="card-body">

        <!-- Add District Button -->
        <button (click)="addNewDistrict()" class="btn btn-danger d-block w-100 mb-2">
          <i class="bi bi-plus-lg"></i> Add New District
        </button>

        <!-- Upload District Button -->
        <button (click)="districtUploadFile.click()" class="btn btn-success d-block w-100 mb-2">
          <i class="bi bi-upload"></i> Upload Districts
        </button>

        <!-- Upload Township Button -->
        <button (click)="districtUploadFile.click()" class="btn btn-primary d-block w-100">
          <i class="bi bi-upload"></i> Upload Townships
        </button>

      </div>
    </div>

  </div>
</div>

<app-state-edit [data]="targetState" (onSave)="save($event)"></app-state-edit>

<app-destrict-edit (onSave)="saveDistrict($event)"
  [data]="targetDistrict"
  [stateName]="targetState?.name" ></app-destrict-edit>

<form action="#" class="d-none">
  <input type="file" #districtUploadFile (change)="upload(districtUploadFile.files!)" >
</form>
