<!-- State Details Info -->
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span><i class="bi bi-info-lg"></i> State Information</span>
    <a class="btn-link">
      <i class="bi bi-pencil"></i>
    </a>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- Name -->
      <div class="col">
        <label class="form-label">State Name</label>
        <span class="form-control">
          State Name
        </span>
      </div>
      <!-- Burmese -->
      <div class="col">
        <label class="form-label">Burmese Name</label>
        <span class="form-control">
          Burmese Name
        </span>
      </div>
      <!-- Region -->
      <div class="col">
        <label class="form-label">Region</label>
        <span class="form-control">
          Region
        </span>
      </div>
      <!-- Capital -->
      <div class="col">
        <label class="form-label">State Name</label>
        <span class="form-control">
          Capital
        </span>
      </div>

    </div>
  </div>
</div>
