<!-- State Details Info -->
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span><i class="bi bi-info-lg"></i> State Information</span>
    <a (click)="edit()" class="btn-link">
      <i class="bi bi-pencil"></i>
    </a>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- Name -->
      <div class="col-3">
        <label class="form-label">State Name</label>
        <span class="form-control">
          {{data?.name}}
        </span>
      </div>
      <!-- Burmese -->
      <div class="col-3">
        <label class="form-label">Burmese Name</label>
        <span class="form-control">
          {{data?.burmeseName}}
        </span>
      </div>
      <!-- Region -->
      <div class="col">
        <label class="form-label">Region</label>
        <span class="form-control">
          {{data?.region}}
        </span>
      </div>
      <!-- Capital -->
      <div class="col">
        <label class="form-label">Capital</label>
        <span class="form-control">
          {{data?.capital}}
        </span>
      </div>

      <!-- Capital -->
      <div class="col">
        <label class="form-label">Status</label>
        <span class="form-control">
          {{data?.deleted ? 'Deleted' : 'Valid'}}
        </span>
      </div>

    </div>
  </div>
</div>

