<div class="card">
  <h4 class="card-header">Member Sign In</h4>

  <form [formGroup]="form" class="card-body">

    <div class="mb-2">
      <label class="form-label">Email</label>
      <div class="input-group">
        <i class="bi-envelope input-group-text"></i>
        <input formControlName="email" type="email" class="form-control" placeholder="Enter Email Address">
      </div>
    </div>

    <div class="mb-2">
      <label class="form-label">Password</label>
      <div class="input-group">
        <i class="bi-key input-group-text"></i>
        <input formControlName="password" type="password" class="form-control" placeholder="Enter Password">
      </div>
    </div>

    <div class="pt-3">
      <a [routerLink]="['/public', 'signup']" [queryParams]="{target: target}" class="btn btn-outline-secondary me-2">
        <i class="bi-person-plus"></i> Sign Up
      </a>
      <button class="btn btn-outline-secondary me-2">
        <i class="bi-google"></i> Google Sign In
      </button>
      <button class="btn btn-outline-secondary me-2 " (click)="signIn()" [class.disabled]="!form.valid"  >
        <i class="bi-door-open-fill"></i> Sign In
      </button>
    </div>
  </form>
</div>
