<h3><i class="bi bi-pie-chart"></i> Balance Report</h3>

<form class="row mb-4">
  <div class="col-auto">
      <label class="form-label">Role</label>
      <select class="form-select">
          <option value="">All Types</option>
          <option value="Credit">Credit</option>
          <option value="Debit">Debit</option>
      </select>
  </div>

  <div class="col-auto">
    <label class="form-label">Category</label>
    <select class="form-select">
        <option value="">All Types</option>
        <option value="Credit">Credit</option>
    </select>
  </div>

  <div class="col-3">
      <label class="form-label">Keywords</label>
      <input type="text" placeholder="Search Keyword" class="form-control">
  </div>

  <div class="col btn-wrapper">
      <button  class="btn btn-outline-primary">
          <i class="bi bi-search"></i> Search
      </button>
  </div>
</form>
