<!-- Title -->
<h3><i class="bi bi-pin-map"></i> District Details</h3>

<!-- District Info -->
<div class="mb-4">
  <app-district-info [data]="targetDistrict" (onEdit)="editDistrict($event)"></app-district-info>
</div>

<h5><i class="bi bi-list"></i> Township of {{targetDistrict?.name}}</h5>

<div class="row">
  <!-- Townships of District -->
  <div class="col">
    <app-township-list [list]="townships" (onEdit)="editTownship($event)"></app-township-list>
  </div>

  <!-- Controls Pannel -->
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <button (click)="editTownship(null)" class="btn btn-danger d-block w-100 mb-2">
          <i class="bi bi-plus-lg"></i> Add Township
        </button>

        <button class="btn btn-success d-block w-100">
          <i class="bi bi-upload"></i> Upload Township
        </button>
      </div>
    </div>
  </div>
</div>

<!-- District Edit Dialog -->
<app-destrict-edit (onSave)="saveDistrict($event)"
  [data]="editData" [stateName]="targetDistrict?.state?.name"></app-destrict-edit>

<app-township-edit (onSave)="saveTownship($event)"
  [data]="targetTownship" [districtName]="targetDistrict?.name"></app-township-edit>
