<h3>{{readonly ? 'User' : 'Edit'}} Profile</h3>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [routerLink]="['personal']" routerLinkActive="active" class="nav-link">
      <i class="bi-person"></i> Personal Information
    </a>
  </li>

  <li class="nav-item">
    <a [routerLink]="['bank']" routerLinkActive="active" class="nav-link">
      <i class="bi-bank"></i> Banking Information
    </a>
  </li>

  <li class="nav-item">
    <a [routerLink]="['shipping']" routerLinkActive="active" class="nav-link">
      <i class="bi-train-front"></i> Shipping Information
    </a>
  </li>
</ul>

<div class="container pt-4">
  <router-outlet></router-outlet>

  <div class="mt-4">
    <button (click)="edit()" class="btn btn-outline-secondary me-2">
      <i [ngClass]="readonly ? 'bi-pencil' : 'bi-arrow-left'"></i> {{readonly ? 'Edit' : 'Cancel'}}
    </button>

    <button (click)="uploadProfileImage()" class="btn btn-outline-danger me-2" *ngIf="!readonly && view == 'profile'">
      <i class="bi-camera"></i> Profile Photo
    </button>

    <button (click)="addAddress()" class="btn btn-outline-danger me-2" *ngIf="!readonly && view == 'ship'">
      <i class="bi-train-front"></i> Add Address
    </button>

    <button (click)="addBankingInfo()" [class.disabled]="disabledAddBankInfo" class="btn btn-outline-danger me-2" *ngIf="!readonly && view == 'bank'">
      <i class="bi-bank"></i> Add Banking Info
    </button>

    <button (click)="save()" *ngIf="!readonly" class="btn btn-outline-danger me-2">
      <i class="bi-save"></i> Save
    </button>
  </div>
</div>
