<div class="card">
  <div class="card-body">
    <h5 class="mb-3 d-flex justify-content-between align-items-end">
      <span>
        <i class="bi-bank"></i> Banking Information
      </span>
      <span class="dim-text">
        <i class="bi-person"></i> {{profile?.name || ''}}
      </span>
    </h5>

    <div *ngIf="bankings.length == 0">
      <div *ngIf="sellerView">
        <!-- Banking Info Form -->
        <form [formGroup]="form" class="row g-2">
          <div class="col">
            <label class="form-label">Banking</label>
            <input formControlName="type" type="text" placeholder="Enter Bank Name" class="form-control">
          </div>
          <div class="col">
            <label class="form-label">Account No.</label>
            <input formControlName="accountNumber" placeholder="Enter Account Number" type="text" class="form-control">
          </div>
          <div class="col">
            <label class="form-label">Account Name</label>
            <input formControlName="accountName" type="text" placeholder="Enter Account Name" class="form-control">
          </div>
          <div class="col-auto inline-btn-wrapper">
            <button [class.disabled]="!form.valid" (click)="saveBankingInfo()" class="btn btn-outline-info">
              <i class="bi-save"></i> Save
            </button>
          </div>
        </form>
      </div>

      <div class="alert alert-info" *ngIf="!sellerView">
        <i class="bi-info-lg"></i> Banking Information will be updated soon!
      </div>

    </div>

    <!-- Banking Info List -->
    <table *ngIf="bankings.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th>Banking</th>
          <th>Account No</th>
          <th>Account Name</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of bankings">
          <td>{{item.type}}</td>
          <td>{{item.accountNumber}}</td>
          <td>{{item.accountName}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
