<form [formGroup]="form"
  [ngClass]="formStyleClass"
  [class.pt-4]="index > 0">
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Name</label>
      <input formControlName="name" type="text" class="form-control" [readonly]="readonly" placeholder="Enter Shipping Address Name">
    </div>
    <div class="col-auto inline-btn-wrapper">
      <button (click)="removeItem()" class="btn btn-outline-danger">
        <i class="bi-dash-lg"></i>
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-3">
      <label class="form-label">Division</label>
      <input type="text" *ngIf="readonly" readonly class="form-control" [class.disabled]="readonly" [value]="selectedTownship?.division" >
      <select [class.d-none]="readonly" #divisionSelect (change)="changeDivision(divisionSelect.value)" [value]="selectedTownship?.divisionId || ''" class="form-select">
        <option value="">Select Division</option>
        <option *ngFor="let item of divisions" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="col-3">
      <label class="form-label">Township</label>
      <input type="text" *ngIf="readonly" class="form-control" readonly [value]="selectedTownship.name" >
      <select [class.d-none]="readonly" formControlName="township" class="form-select">
        <option value="">Select Township</option>
        <option *ngFor="let item of townships" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="col">
      <label class="form-label">Address</label>
      <input type="text" [readonly]="readonly" formControlName="address" class="form-control" placeholder="Enter Address">
    </div>

  </div>
</form>
