<div class="row">

  <div class="col-auto">
    <img src="/assets/images/profile.jpg" class="img-profile img-thumbnail"  alt="">
  </div>

  <div class="col">
    <div class="form">

      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Enter Name">
        </div>
        <div class="col">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="Enter Email">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Date of Birth</label>
          <input type="date" class="form-control" placeholder="Enter Date of Birth">
        </div>
        <div class="col">
          <label class="form-label">Gender</label>
          <select name="" class="form-select">
            <option value="Male">Male</option>
            <option value="Male">Female</option>
          </select>
        </div>
      </div>

      <div>
        <label class="form-label">Greeting</label>
        <textarea cols="30" rows="4" class="form-control"></textarea>
      </div>

    </div>
  </div>

</div>
