<h4>Passing Data from Child to Parent</h4>

<h6>Using @Output()</h6>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">Parent</div>

      <div class="card-body">
        <div class="list-group list-group-flush">
          <span class="list-group-item" *ngFor="let item of list">
            {{item}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <app-output-child (emitter)="list.push($event)"></app-output-child>
  </div>
</div>
